@charset "UTF-8";
/*------------------------------------------------------------
layout setting
------------------------------------------------------------*/
html, body {
  height: 100%; }

#wrapper {
  width: 100%;
  min-width: 1028px;
  background: #7cb631;
  min-height: 100%; }
  @media only screen and (max-width: 768px) {
    #wrapper {
      min-width: 100%; } }

#wrapper .inner {
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
  height: auto; }
  @media only screen and (max-width: 768px) {
    #wrapper .inner {
      max-width: 100%;
      width: 100%; } }

#wrapper .main-inner {
  margin-left: auto;
  margin-right: auto;
  width: 800px; }
  @media only screen and (max-width: 768px) {
    #wrapper .main-inner {
      width: 92%; } }
  #wrapper .main-inner.top {
    width: 700px; }
    @media only screen and (max-width: 768px) {
      #wrapper .main-inner.top {
        width: 92%; } }

.main-wrap {
  background: #fff;
  word-wrap: break-word; }

main .main-inner {
  padding-bottom: 100px; }
  @media only screen and (max-width: 768px) {
    main .main-inner {
      padding-bottom: 20%; } }

main p, main ul {
  color: #080404;
  font-size: 1.6rem;
  line-height: 2.375; }
  @media only screen and (max-width: 768px) {
    main p, main ul {
      font-size: 1.4rem;
      line-height: 2.15; } }

main .letter_green {
  color: #7cb631; }

main .letter_small {
  font-size: 1.2rem; }

main .page_title {
  color: #31873c;
  font-weight: bold;
  text-align: center;
  font-size: 3.8rem;
  margin: 60px 0 50px;
  line-height: 1.2; }
  @media only screen and (max-width: 768px) {
    main .page_title {
      font-size: 2.4rem;
      margin: 10% 0; } }

main .one_block + .one_block {
  margin-top: 80px; }
  @media only screen and (max-width: 768px) {
    main .one_block + .one_block {
      margin-top: 13%; } }

main .section_title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #7cb631;
  margin-bottom: 30px;
  line-height: 1.4; }
  @media only screen and (max-width: 768px) {
    main .section_title {
      font-size: 1.7rem;
      padding-bottom: 2.5%;
      margin-bottom: 7.2%; } }

main .section_title_sub {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.45; }
  @media only screen and (max-width: 768px) {
    main .section_title_sub {
      font-size: 1.6rem;
      line-height: 1.625;
      margin-bottom: 5.8%; } }

main .text + .text, main .text + .image, main .text + .list {
  margin-top: 40px; }
  @media only screen and (max-width: 768px) {
    main .text + .text, main .text + .image, main .text + .list {
      margin-top: 10%; } }

main .list + .text, main .list + .image {
  margin-top: 40px; }
  @media only screen and (max-width: 768px) {
    main .list + .text, main .list + .image {
      margin-top: 10%; } }

main .list_with_brackets_number > li {
  margin-left: 3.1em;
  text-indent: -3.1em; }
  main .list_with_brackets_number > li + li {
    margin-top: 5px; }

main .list_with_number > li {
  margin-left: 2.7em;
  text-indent: -2.7em; }
  main .list_with_number > li + li {
    margin-top: 2px; }

main .list_with_kome {
  margin-top: 20px; }
  @media only screen and (max-width: 768px) {
    main .list_with_kome {
      margin-top: 5%; } }
  main .list_with_kome > li {
    font-size: 1.2rem;
    line-height: 1.83;
    margin-left: 1em;
    text-indent: -1em; }
    main .list_with_kome > li + li {
      margin-top: 2px; }
  main .list_with_kome + .text {
    margin-top: 20px; }
    @media only screen and (max-width: 768px) {
      main .list_with_kome + .text {
        margin-top: 5%; } }

main .list_with_both > li {
  font-size: 1.2rem;
  margin-left: 3.7em;
  text-indent: -3.7em;
  line-height: 1.8; }
  main .list_with_both > li + li {
    margin-top: 2px; }

main .in_list_dot > li {
  margin-left: 1em;
  text-indent: -1em; }
  main .in_list_dot > li + li {
    margin-top: 2px; }

main .in_list_number1 > li {
  margin-left: 1.7em;
  text-indent: -1.7em; }
  main .in_list_number1 > li + li {
    margin-top: 2px; }

main .in_list_number2 > li {
  margin-left: 2.7em;
  text-indent: -2.7em; }
  main .in_list_number2 > li + li {
    margin-top: 2px; }

main .in_list_number3 > li {
  margin-left: 2.6em;
  text-indent: -2.6em; }

main .in_list_number3.number-3-2 li {
  margin-left: 3.1em;
  text-indent: -3.1em; }

main .link_related {
  font-size: 1.4rem;
  background: #edf8df;
  padding: 4px 30px;
  border-radius: 20px; }
  @media only screen and (max-width: 768px) {
    main .link_related {
      font-size: 1.2rem;
      padding: 1.5% 4.3%; } }
  main .link_related a {
    color: #080404; }
    main .link_related a:hover {
      text-decoration: underline; }
    main .link_related a.icon_blank {
      position: relative; }
      main .link_related a.icon_blank:after {
        display: inline-block;
        content: '';
        width: 17px;
        height: 17px;
        background: url(../img/common/icon_blank.png) no-repeat center right;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 15px; }
        @media only screen and (max-width: 768px) {
          main .link_related a.icon_blank:after {
            width: 10px;
            height: 10px;
            margin-left: 5px; } }

@media print, screen and (min-width: 768px) {
  .top #wrapper .main-inner {
    width: 700px; } }

.top .top_logo {
  padding: 157px 0 140px; }
  @media only screen and (max-width: 768px) {
    .top .top_logo {
      padding: 45% 0 25%; } }

.top .news_area .news_title {
  width: 100%;
  position: relative;
  z-index: 10; }
  .top .news_area .news_title img {
    width: 69px;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 768px) {
      .top .news_area .news_title img {
        width: 15%; } }
  .top .news_area .news_title:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #31873c;
    top: 50%;
    left: 0;
    margin-top: -1px;
    z-index: 1; }

.top .news_list li a {
  display: block;
  background: #fff;
  padding: 24px 0; }
  @media only screen and (max-width: 768px) {
    .top .news_list li a {
      padding: 5.8% 0; } }
  .top .news_list li a:hover .news_text {
    text-decoration: underline; }

.top .news_list .news_line {
  width: 100%;
  display: table; }
  @media only screen and (max-width: 768px) {
    .top .news_list .news_line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .top .news_list .news_line p {
    display: table-cell;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1.64; }
    .top .news_list .news_line p.date {
      width: 11rem;
      letter-spacing: 0.15rem; }
      @media only screen and (max-width: 768px) {
        .top .news_list .news_line p.date {
          width: auto;
          margin-right: 2%;
          font-size: 1.3rem;
          display: inline-block; } }
    .top .news_list .news_line p.release_category {
      width: 114px;
      font-size: 1.2rem;
      padding-right: 20px; }
      @media only screen and (max-width: 768px) {
        .top .news_list .news_line p.release_category {
          width: 20%;
          display: inline-block;
          padding-right: 0; } }
      .top .news_list .news_line p.release_category img {
        display: block; }
    @media only screen and (max-width: 768px) {
      .top .news_list .news_line p.news_text {
        display: block;
        margin-top: 2%; } }

.top .btn_back {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.15rem; }
  @media only screen and (max-width: 768px) {
    .top .btn_back {
      margin-top: 8.7%; } }
  .top .btn_back a {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-radius: 20px;
    color: #080404;
    border: 1px solid #7cb631; }
    @media only screen and (max-width: 768px) {
      .top .btn_back a {
        font-size: 1.2rem;
        padding: 1% 8%; } }
    .top .btn_back a span {
      position: relative;
      padding-right: 10px; }
      .top .btn_back a span::after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 2px #7cb631;
        border-right: solid 2px #7cb631;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -4px; }

@media only screen and (max-width: 768px) {
  .news main {
    margin-top: 3%; } }

.news .page_title {
  margin: 25px 0;
  font-size: 3.7rem; }
  @media only screen and (max-width: 768px) {
    .news .page_title {
      margin: 5.8% 0;
      font-size: 2.4rem; } }

.news .category {
  width: 112px;
  margin: auto; }
  @media only screen and (max-width: 768px) {
    .news .category {
      width: 27.5%; } }

.news .news_title {
  padding: 23px;
  border-top: 2px solid #7cb631;
  border-bottom: 2px solid #7cb631;
  text-align: center;
  font-weight: bold;
  line-height: 1.4; }
  @media only screen and (max-width: 768px) {
    .news .news_title {
      padding: 5.5% 0; } }
  .news .news_title .main_title {
    font-size: 2.6rem; }
    @media only screen and (max-width: 768px) {
      .news .news_title .main_title {
        font-size: 1.8rem; } }
  .news .news_title .sub_title {
    font-size: 1.6rem; }
    @media only screen and (max-width: 768px) {
      .news .news_title .sub_title {
        margin-top: 1.5%;
        font-size: 1.3rem; } }
  .news .news_title + .text {
    margin-top: 40px; }
    @media only screen and (max-width: 768px) {
      .news .news_title + .text {
        margin-top: 5.8%; } }

.news .news_image {
  width: 481px;
  margin: 100px auto;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .news .news_image {
      width: 70%;
      margin: 10% auto; } }

.news .link_related {
  margin-top: 40px; }
  @media only screen and (max-width: 768px) {
    .news .link_related {
      margin-top: 10%; } }

.news .btn_back {
  text-align: center;
  margin-top: 60px; }
  @media only screen and (max-width: 768px) {
    .news .btn_back {
      margin-top: 8.7%; } }
  .news .btn_back a {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-radius: 20px;
    color: #080404;
    border: 1px solid #7cb631; }
    @media only screen and (max-width: 768px) {
      .news .btn_back a {
        font-size: 1.2rem;
        padding: 1% 8%; } }
    .news .btn_back a span {
      position: relative;
      padding-left: 15px; }
      .news .btn_back a span::before {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 2px #7cb631;
        border-right: solid 2px #7cb631;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px; }

.news .news_list li {
  border-top: 1px solid #dcdcdc; }
  .news .news_list li:last-child {
    border-bottom: 1px solid #dcdcdc; }
  .news .news_list li a {
    display: block;
    background: #fff;
    padding: 24px 0; }
    @media only screen and (max-width: 768px) {
      .news .news_list li a {
        padding: 5.8% 0; } }
    .news .news_list li a:hover .news_text {
      text-decoration: underline; }

.news .news_list .news_line {
  width: 100%;
  display: table; }
  @media only screen and (max-width: 768px) {
    .news .news_list .news_line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .news .news_list .news_line p {
    display: table-cell;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1.64; }
    .news .news_list .news_line p.date {
      width: 11rem;
      letter-spacing: 0.15rem; }
      @media only screen and (max-width: 768px) {
        .news .news_list .news_line p.date {
          width: auto;
          margin-right: 2%;
          font-size: 1.3rem;
          display: inline-block; } }
    .news .news_list .news_line p.release_category {
      width: 114px;
      font-size: 1.2rem;
      padding-right: 20px; }
      @media only screen and (max-width: 768px) {
        .news .news_list .news_line p.release_category {
          width: 20%;
          display: inline-block;
          padding-right: 0; } }
      .news .news_list .news_line p.release_category img {
        display: block; }
    @media only screen and (max-width: 768px) {
      .news .news_list .news_line p.news_text {
        display: block;
        margin-top: 2%; } }

.company .company_logo {
  width: 340px;
  margin: 60px auto 40px; }
  @media only screen and (max-width: 768px) {
    .company .company_logo {
      width: 66%;
      margin: 11% auto 10%; } }

.company .company_info a:hover {
  text-decoration: underline; }

.company .company_info dl {
  width: 100%;
  display: table;
  padding: 25px 0;
  border-top: 1px solid #dcdcdc; }
  .company .company_info dl:last-of-type {
    border-bottom: 1px solid #dcdcdc; }
  @media only screen and (max-width: 768px) {
    .company .company_info dl {
      display: block;
      padding: 5.8% 0; } }

.company .company_info dt, .company .company_info dd {
  display: table-cell; }
  @media only screen and (max-width: 768px) {
    .company .company_info dt, .company .company_info dd {
      display: block; } }

.company .company_info dt {
  width: 175px;
  font-weight: bold; }
  @media only screen and (max-width: 768px) {
    .company .company_info dt {
      width: 100%; } }

@media only screen and (max-width: 768px) {
  .company .company_info dd {
    margin-top: 3.5%; } }

.company .company_info dd p, .company .company_info dd ul {
  font-size: 1.4rem;
  line-height: 1.64; }
  @media only screen and (max-width: 768px) {
    .company .company_info dd p, .company .company_info dd ul {
      font-size: 1.3rem; } }

.company .company_info dd li
+ li {
  margin-top: 2px; }

.company .company_info dd .position {
  display: inline-block;
  width: 9rem; }

.service .service_logo {
  width: 275px;
  margin: 60px auto 50px; }
  @media only screen and (max-width: 768px) {
    .service .service_logo {
      width: 82%;
      margin: 11% auto 10%; } }

.service .overview_image {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .service .overview_image {
      width: 100%; } }

.service .case01_image {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .service .case01_image {
      width: 100%; } }

.service .case02_image {
  width: 474px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .service .case02_image {
      width: 100%; } }

.service .media_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .service .media_list li {
    width: 182px; }
    @media only screen and (max-width: 768px) {
      .service .media_list li {
        width: 47%; } }
    @media only screen and (max-width: 768px) {
      .service .media_list li:nth-child(n+3) {
        margin-top: 6%; } }

.service .service_table {
  width: 100%;
  font-size: 1.4rem;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  margin-top: 50px; }
  .service .service_table th, .service .service_table td {
    padding: 28px; }
  .service .service_table th {
    background: #edf8df;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #dcdcdc; }
  .service .service_table td {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc; }
  .service .service_table .service_name {
    font-weight: bold; }
  @media only screen and (max-width: 768px) {
    .service .service_table {
      font-size: 1.3rem; }
      .service .service_table dl {
        border-right: 1px solid #dcdcdc; }
        .service .service_table dl:last-of-type {
          border-bottom: 1px solid #dcdcdc; }
        .service .service_table dl dt, .service .service_table dl dd {
          padding: 5.8% 3%;
          text-align: center;
          line-height: 1.5; }
        .service .service_table dl dt {
          background: #edf8df;
          font-weight: bold; }
      .service .service_table + .service_table {
        margin-top: 6%; } }
  .service .service_table.pc_obj {
    display: table; }
    @media only screen and (max-width: 768px) {
      .service .service_table.pc_obj {
        display: none; } }

.contact .link_related {
  width: 100%;
  display: table;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .contact .link_related .date {
    width: 100px;
    display: table-cell; }
    @media only screen and (max-width: 768px) {
      .contact .link_related .date {
        width: 28%; } }
  .contact .link_related a {
    display: table-cell; }

.sitemap main a {
  color: #080404;
  position: relative;
  display: inline-block;
  margin-left: 1em;
  text-indent: -1em; }
  .sitemap main a:before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 2px #7cb631;
    border-right: solid 2px #7cb631;
    -webkit-transform: rotate(45deg) translate(-2px);
    -ms-transform: rotate(45deg) translate(-2px);
    transform: rotate(45deg) translate(-2px); }

.sitemap main .map_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: bold; }

.sitemap main .map_main {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media only screen and (max-width: 768px) {
    .sitemap main .map_main {
      width: 100%;
      margin-right: 0; } }

.sitemap main .one_box {
  width: 235px; }
  @media only screen and (max-width: 768px) {
    .sitemap main .one_box {
      width: 46.3%; } }
  @media print, screen and (min-width: 768px) {
    .sitemap main .one_box .section_title {
      margin-bottom: 20px; } }
  .sitemap main .one_box.top {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.top.section_title {
        padding-bottom: 1.16%;
        margin-bottom: 3.33%; } }
  .sitemap main .one_box.service {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.service {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-top: 8%; } }
  .sitemap main .one_box.news {
    margin-top: -40px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.news {
        margin-top: 0;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.news.section_title {
        padding-bottom: 1.16%;
        margin-bottom: 3.33%; } }
  .sitemap main .one_box.adjust {
    width: 520px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .sitemap main .one_box.company {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    margin-top: 50px; }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.company {
        margin-top: 8%; } }
  .sitemap main .one_box.contact {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
    margin-top: 50px; }
    @media only screen and (max-width: 768px) {
      .sitemap main .one_box.contact {
        margin-top: 8%; } }
  @media only screen and (max-width: 768px) {
    .sitemap main .one_box.policy {
      -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
      order: 7;
      margin-top: 7.5%; } }

/* header footer 画像位置調整 */
header img, footer img {
  vertical-align: top; }

/* footer .innerをSP版のみmain-innerに */
@media only screen and (max-width: 1100px) {
  #wrapper header .inner {
    padding: 0 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

@media only screen and (max-width: 768px) {
  #wrapper header .inner {
    padding: 0; } }

/* header */
header {
  background: #fff;
  border-bottom: 2px solid #7cb631; }

.header {
  /*SP版*/
  /*SP版・ボタン*/ }
  .header__wrap {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 22px 0;
    width: 167px; }
    @media only screen and (max-width: 768px) {
      .header__wrap {
        float: none;
        margin: 0;
        padding: 20px 4%;
        width: 100%; } }
  .header__logo {
    display: block; }
    @media only screen and (max-width: 768px) {
      .header__logo {
        float: left;
        margin: 0;
        width: 153px; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: right;
    /* width: 540px; */ }
    @media only screen and (max-width: 768px) {
      .header__nav {
        display: block;
        width: 100%; } }
    .header__nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (max-width: 768px) {
        .header__nav ul {
          display: block; } }
      .header__nav ul li {
        margin-right: 39px; }
        .header__nav ul li a {
          display: block;
          padding: 29px 0;
          position: relative; }
          @media only screen and (max-width: 768px) {
            .header__nav ul li a {
              padding: 5% 0; } }
          .header__nav ul li a:after {
            background: #31873c;
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto; }
            @media only screen and (max-width: 768px) {
              .header__nav ul li a:after {
                content: none; } }
        .header__nav ul li.top {
          width: 33px; }
        .header__nav ul li.news {
          width: 48px; }
        .header__nav ul li.service {
          width: 71px; }
        .header__nav ul li.company {
          width: 85px; }
        .header__nav ul li.contact {
          width: 81px; }
  .header__fb {
    display: block;
    width: 25px; }
  @media only screen and (max-width: 768px) {
    .header__nav.pc_nav {
      display: none; } }
  .header__nav.sp_nav {
    display: none; }
  .header__btn {
    float: right;
    width: 27px; }

@media only screen and (max-width: 768px) {
  /*-- header nav bg--*/
  .layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  /*-- header --*/
  header {
    width: 100%;
    background: #ededed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 20000;
    top: 0; }
  header + .mv, header + .inner {
    margin-top: 80px; }
    .news header + .mv, .service header + .mv, .company header + .mv, .contact header + .mv, .news header + .inner, .service header + .inner, .company header + .inner, .contact header + .inner {
      margin-top: 65px; }
  header .nav .navOpen {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 3.5%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden; }
  header .nav .navOpen span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #7cb631;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 3px;
    background: #7cb631;
    -webkit-transition: opacity 0.5s , -webkit-transform 0.5s;
    transition: opacity 0.5s , -webkit-transform 0.5s;
    -o-transition: transform 0.5s , opacity 0.5s;
    transition: transform 0.5s , opacity 0.5s;
    transition: transform 0.5s , opacity 0.5s , -webkit-transform 0.5s;
    position: relative;
    top: 10px; }
  header .nav .navOpen span.top {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
  header .nav .navOpen span.bottom {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  header .nav .navOpen.active span.middle {
    opacity: 0; }
  header .nav .navOpen.active span.top {
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
    top: 15px; }
  header .nav .navOpen.active span.bottom {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg); }
  header .nav nav {
    position: absolute;
    background-color: #f0f0f0;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100; }
  header .nav nav ul li {
    border-bottom: 1px solid lightgray;
    position: relative;
    width: 100%; }
    header .nav nav ul li:after {
      border-top: 2px solid #7cb631;
      border-right: 2px solid #7cb631;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      display: inline-block;
      position: absolute;
      right: 5%;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      height: 15px; }
    header .nav nav ul li:last-child {
      border: none; }
  header .nav nav ul li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 5% 4%;
    width: 100%; } }

.top .header__nav li.top a:after {
  height: 4px;
  width: 33px; }

.news .header__nav li.news a:after {
  height: 4px;
  width: 48px; }

.service .header__nav li.service a:after {
  height: 4px;
  width: 71px; }

.company .header__nav li.company a:after {
  height: 4px;
  width: 85px; }

.contact .header__nav li.contact a:after {
  height: 4px;
  width: 81px; }

/* 大カテゴリ用mv */
.mv {
  background-color: #7cb631;
  text-align: center;
  padding: 55px 1rem; }
  @media only screen and (max-width: 768px) {
    .mv {
      padding: 8% 4%; } }
  .mv__title {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto; }
    .mv__title img {
      vertical-align: middle; }

/* MV部分の画像 NEWS */
.news .mv__title {
  width: 125px; }
  @media only screen and (max-width: 768px) {
    .news .mv__title {
      width: 22.463%; } }

/* MV部分の画像 SERVICE */
.service .mv__title {
  width: 184px; }
  @media only screen and (max-width: 768px) {
    .service .mv__title {
      width: 33.3333%; } }

/* MV部分の画像 COMPANY */
.company .mv__title {
  width: 220px; }
  @media only screen and (max-width: 768px) {
    .company .mv__title {
      width: 39.85%; } }

/* MV部分の画像 CONTACT */
.contact .mv__title {
  width: 210px; }
  @media only screen and (max-width: 768px) {
    .contact .mv__title {
      width: 36.666%; } }

/* 大カテゴリ用サブメニュー */
.submenu {
  background-color: #31873c;
  text-align: center; }
  .submenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .submenu ul li {
      padding: 25px 0;
      position: relative; }
      @media only screen and (max-width: 768px) {
        .submenu ul li {
          padding: 5% 0; } }
      .submenu ul li:after {
        background: #fff;
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .submenu ul li a {
        border-left: #fff solid 1px;
        color: #cef6d3;
        display: block;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0 27px; }
        @media only screen and (max-width: 768px) {
          .submenu ul li a {
            font-size: 1.3rem;
            padding: 0 2rem; } }
      .submenu ul li:last-child a {
        border-right: #fff solid 1px; }

/* news */
.news .submenu ul li.news:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .news .submenu ul li.news:after {
      height: 7px; } }

.news .submenu ul li.news a {
  color: #fff; }

/* date */
.news.date .submenu ul li.news:after {
  width: 0;
  height: 0x; }

.news.date .submenu ul li.date:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .news.date .submenu ul li.date:after {
      height: 7px; } }

.news.date .submenu ul li.news a {
  color: #cef6d3; }

.news.date .submenu ul li.date a {
  color: #fff; }

/* service */
.service .submenu ul li.service:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .service .submenu ul li.service:after {
      height: 7px; } }

.service .submenu ul li.service a {
  color: #fff; }

/* media */
.service.media .submenu ul li.service:after {
  width: 0;
  height: 0x; }

.service.media .submenu ul li.media:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .service.media .submenu ul li.media:after {
      height: 7px; } }

.service.media .submenu ul li.service a {
  color: #cef6d3; }

.service.media .submenu ul li.media a {
  color: #fff; }

/* case */
.service.case .submenu ul li.service:after {
  width: 0;
  height: 0x; }

.service.case .submenu ul li.case:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .service.case .submenu ul li.case:after {
      height: 7px; } }

.service.case .submenu ul li.service a {
  color: #cef6d3; }

.service.case .submenu ul li.media a {
  color: #cef6d3; }

.service.case .submenu ul li.case a {
  color: #fff; }

/* company */
.company .submenu ul li.company:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .company .submenu ul li.company:after {
      height: 7px; } }

.company .submenu ul li.company a {
  color: #fff; }

/* background */
.company.background .submenu ul li.company:after {
  width: 0;
  height: 0x; }

.company.background .submenu ul li.background:after {
  width: 100%;
  height: 10px; }
  @media only screen and (max-width: 768px) {
    .company.background .submenu ul li.background:after {
      height: 7px; } }

.company.background .submenu ul li.company a {
  color: #cef6d3; }

.company.background .submenu ul li.background a {
  color: #fff; }

/* ぱんくず */
.breadcrumb-wrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.breadcrumb {
  background: #fff;
  display: table;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 0 0; }
  .news .breadcrumb {
    padding-bottom: 22px; }
  @media only screen and (max-width: 1100px) {
    .breadcrumb {
      padding: 22px 4% 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
  @media only screen and (max-width: 768px) {
    .breadcrumb {
      padding: 5% 4% 0; }
      .sitemap .breadcrumb, .privacy .breadcrumb {
        margin-top: 65px; }
      .news .breadcrumb {
        padding-bottom: 5%; } }
  .breadcrumb li {
    margin-right: 3.5rem;
    position: relative;
    display: table-cell;
    /* [必須]  */
    white-space: nowrap;
    /* [必須] テキストを改行させないように */ }
    .breadcrumb li, .breadcrumb li a {
      color: #080404;
      font-size: 1.2rem;
      padding-right: 17px; }
      @media only screen and (max-width: 768px) {
        .breadcrumb li, .breadcrumb li a {
          font-size: 1.1rem;
          line-height: 1.3; }
          .breadcrumb li:last-child, .breadcrumb li a:last-child {
            margin-right: 0; } }
    .breadcrumb li:after {
      border-top: 2px solid #7cb631;
      border-right: 2px solid #7cb631;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: 6px; }
    .breadcrumb li:last-child {
      padding-right: 0; }
      .breadcrumb li:last-child::after {
        content: none; }

/* footer */
/* footer .innerをSP版のみmain-innerに */
@media only screen and (max-width: 1100px) {
  #wrapper footer .inner {
    margin: 0 auto;
    padding: 0 4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

footer {
  background-color: #7cb631;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 70px; }
  @media only screen and (max-width: 768px) {
    footer {
      padding-bottom: 15%; } }
  footer p, footer a, footer a:hover, footer a:visited {
    color: #fff;
    font-size: 1.2rem; }

.footer__top {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 30px;
  width: 280px; }
  @media only screen and (max-width: 768px) {
    .footer__top {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 8%;
      width: 100%; } }
  .footer__top li {
    border-left: #fff solid 1px;
    padding: 0 20px; }
    @media only screen and (max-width: 768px) {
      .footer__top li {
        padding: 0 1.5rem; } }
    .footer__top li:first-child {
      border-left: none; }
    .footer__top li a {
      display: block; }

.footer__support {
  margin-top: 12px; }
  @media only screen and (max-width: 768px) {
    .footer__support {
      margin-top: 5%; } }

.footer__supportlogo {
  width: 61px; }
  @media only screen and (max-width: 768px) {
    .footer__supportlogo {
      width: 14.3%; } }

.footer__supportaddress {
  margin-top: 1rem; }

.footer__supportaccess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem; }
  @media only screen and (max-width: 768px) {
    .footer__supportaccess {
      display: block; } }
  .footer__supportaccess li {
    margin-right: 20px; }
    @media only screen and (max-width: 768px) {
      .footer__supportaccess li {
        margin-right: 0;
        margin-top: 1rem; } }
    .footer__supportaccess li:after {
      content: "/";
      display: inline-block;
      margin-left: 1rem; }
      @media only screen and (max-width: 768px) {
        .footer__supportaccess li:after {
          content: none; } }
    .footer__supportaccess li:last-child:after {
      content: none; }

.footer__bottom {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    .footer__bottom {
      display: block;
      margin-top: 8%;
      text-align: center; } }
  .footer__bottomcopy .copy {
    font-family: Verdana; }
  @media only screen and (max-width: 768px) {
    .footer__bottomlogo {
      margin: 0 auto;
      width: 26.9%; } }
  .footer__bottomlogo a {
    display: block; }
    .footer__bottomlogo a img {
      vertical-align: middle; }
